!<DOCTYPE html>
    <html lang="ko">
        <head>
            <meta charset="UTF-8" />
            <meta title="viewport" content="width=device-width, initial-scale=1.0" />
            <script src="https://cdn.tailwindcss.com"></script>
            <title>group_buy</title>
          </head>
    
    <body style="background-image:url('https://img.freepik.com/free-vector/hand-drawn-wildlife-background_23-2149416851.jpg?size=626&ext=jpg&ga=GA1.2.1454901370.1704756788&semt=ais')">
        <div class="max-w-2xl mx-auto bg-lime-300 rounded-xl text-gray-900 p-4 h-20 flex justify-between items-center">
            <div class="flex items-center">
                <img
                class="mx-auto h-10 w-auto"
                src="https://jungle.krafton.com/resource/images/favicon-96x96.png?v=8.3"
                alt="Your Company"
              />
              <p class="text-lg font-bold"> 나눔</p>
              <p class="ml-4 text-lg">공동구매</p>
            </div>
            <div class="flex items-center">
              <p class="text-lg mr-4 text-right">내 품목</p>
              <p class="text-lg text-right">로그아웃</p>
            </div>
          </div>
              
          <div class="max-w-2xl mx-auto bg-lime-200 rounded-xl text-gray-900 p-4 h-10 flex justify-between items-center">
            <div class="flex items-center">
              <p class="text-lg"> 전체</p>
              <p class="ml-4 text-lg">세제</p>
              <p class="ml-4 text-lg">샴푸</p>
              <p class="ml-4 text-lg">간식</p>
              <p class="ml-4 text-lg">의약품</p>
              <p class="ml-4 text-lg"></p>
              <p class="ml-4 text-lg"></p>
              <p class="ml-4 text-lg"></p>
            </div>
          </div>
          
    
    
          <div class="max-w-2xl mx-auto bg-stone-200 rounded-xl text-gray-900 p-4 flex items-center">
            <!-- 왼쪽에 사진 -->
            <div class="mr-4">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtQUYcHnhUK5aRxE6Yt8Rb_13am5qO8B9bXQ&usqp=CAU" alt="사진" class="w-20 h-20 rounded-full">
            </div>
            
            <!-- 중앙에 텍스트 -->
            <div class="flex items-center">
                <p class="text-lg"> 사이트 : <a href="https://www.coupang.com/vp/products/335833200?itemId=17982326014&vendorItemId=85139110125&pickType=COU_PICK&q=%EA%B3%A0%EC%96%91%EC%9D%B4&itemsCount=36&searchId=a507d60615584972bbbb21a7ad3b4dc0&rank=2&isAddedCart=" target="_blank">링크</a></p>
                <p class="ml-4 text-lg">품명 : </p>
                <p class="ml-4 text-lg">가격 : </p>
                
              </div>      
            <!-- 오른쪽에 X 표시 -->
            <div class="flex items-center justify-end flex-1">
            <p class="ml-4 text-lg"> 1/3</p>
            </div>
          </div>



          

            <div class="max-w-2xl mx-auto bg-stone-200 rounded-xl text-gray-900 p-4 flex items-center">
              <!-- 왼쪽에 사진 -->
              <div class="mr-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtQUYcHnhUK5aRxE6Yt8Rb_13am5qO8B9bXQ&usqp=CAU" alt="사진" class="w-20 h-20 rounded-full">
              </div>
              
              <!-- 중앙에 텍스트 -->
              <div class="flex items-center">
                  <p class="text-lg"> 사이트 : </p>
                  <p class="ml-4 text-lg">품명 : </p>
                  <p class="ml-4 text-lg">가격 : </p>
                  
                </div>      
              <!-- 오른쪽에 X 표시 -->
              <div class="flex items-center justify-end flex-1">
              <p class="ml-4 text-lg"> 1/3</p>
              </div>
            </div>
  
  
            
  
              <div class="max-w-2xl mx-auto bg-stone-200 rounded-xl text-gray-900 p-4 flex items-center">
                <!-- 왼쪽에 사진 -->
                <div class="mr-4">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtQUYcHnhUK5aRxE6Yt8Rb_13am5qO8B9bXQ&usqp=CAU" alt="사진" class="w-20 h-20 rounded-full">
                </div>
                
                <!-- 중앙에 텍스트 -->
                <div class="flex items-center">
                    <p class="text-lg"> 사이트 : </p>
                    <p class="ml-4 text-lg">품명 : </p>
                    <p class="ml-4 text-lg">가격 : </p>
                    
                  </div>      
                <!-- 오른쪽에 X 표시 -->
                <div class="flex items-center justify-end flex-1">
                <p class="ml-4 text-lg"> 1/3</p>
                </div>
              </div>
    
              <div class="max-w-2xl mx-auto bg-stone-200 rounded-xl text-gray-900 p-4 flex items-center">
                <!-- 왼쪽에 사진 -->
                <div class="mr-4">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtQUYcHnhUK5aRxE6Yt8Rb_13am5qO8B9bXQ&usqp=CAU" alt="사진" class="w-20 h-20 rounded-full">
                </div>
                
                <!-- 중앙에 텍스트 -->
                <div class="flex items-center">
                    <p class="text-lg"> 사이트 : </p>
                    <p class="ml-4 text-lg">품명 : </p>
                    <p class="ml-4 text-lg">가격 : </p>
                    
                  </div>      
                <!-- 오른쪽에 X 표시 -->
                <div class="flex items-center justify-end flex-1">
                <p class="ml-4 text-lg"> 1/3</p>
                </div>
              </div>
    
    
    
              
    
                <div class="max-w-2xl mx-auto bg-stone-200 rounded-xl text-gray-900 p-4 flex items-center">
                  <!-- 왼쪽에 사진 -->
                  <div class="mr-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtQUYcHnhUK5aRxE6Yt8Rb_13am5qO8B9bXQ&usqp=CAU" alt="사진" class="w-20 h-20 rounded-full">
                  </div>
                  
                  <!-- 중앙에 텍스트 -->
                  <div class="flex items-center">
                      <p class="text-lg"> 사이트 : </p>
                      <p class="ml-4 text-lg">품명 : </p>
                      <p class="ml-4 text-lg">가격 : </p>
                      
                    </div>      
                  <!-- 오른쪽에 X 표시 -->
                  <div class="flex items-center justify-end flex-1">
                  <p class="ml-4 text-lg"> 1/3</p>
                  </div>
                </div>
      
      
                
      
                  <div class="max-w-2xl mx-auto bg-stone-200 rounded-xl text-gray-900 p-4 flex items-center">
                    <!-- 왼쪽에 사진 -->
                    <div class="mr-4">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtQUYcHnhUK5aRxE6Yt8Rb_13am5qO8B9bXQ&usqp=CAU" alt="사진" class="w-20 h-20 rounded-full">
                    </div>
                    
                    <!-- 중앙에 텍스트 -->
                    <div class="flex items-center">
                        <p class="text-lg"> 사이트 : </p>
                        <p class="ml-4 text-lg">품명 : </p>
                        <p class="ml-4 text-lg">가격 : </p>
                        
                      </div>      
                    <!-- 오른쪽에 X 표시 -->
                    <div class="flex items-center justify-end flex-1">
                    <p class="ml-4 text-lg"> 1/3</p>
                    </div>
                  </div>
        
                  <div class="max-w-2xl mx-auto bg-stone-200 rounded-xl text-gray-900 p-4 flex items-center">
                    <!-- 왼쪽에 사진 -->
                    <div class="mr-4">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtQUYcHnhUK5aRxE6Yt8Rb_13am5qO8B9bXQ&usqp=CAU" alt="사진" class="w-20 h-20 rounded-full">
                    </div>
                    
                    <!-- 중앙에 텍스트 -->
                    <div class="flex items-center">
                        <p class="text-lg"> 사이트 : </p>
                        <p class="ml-4 text-lg">품명 : </p>
                        <p class="ml-4 text-lg">가격 : </p>
                        
                      </div>      
                    <!-- 오른쪽에 X 표시 -->
                    <div class="flex items-center justify-end flex-1">
                    <p class="ml-4 text-lg"> 1/3</p>
                    </div>
                  </div>
        
        
        
                  
        
                    <div class="max-w-2xl mx-auto bg-stone-200 rounded-xl text-gray-900 p-4 flex items-center">
                      <!-- 왼쪽에 사진 -->
                      <div class="mr-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtQUYcHnhUK5aRxE6Yt8Rb_13am5qO8B9bXQ&usqp=CAU" alt="사진" class="w-20 h-20 rounded-full">
                      </div>
                      
                      <!-- 중앙에 텍스트 -->
                      <div class="flex items-center">
                          <p class="text-lg"> 사이트 : </p>
                          <p class="ml-4 text-lg">품명 : </p>
                          <p class="ml-4 text-lg">가격 : </p>
                          
                        </div>      
                      <!-- 오른쪽에 X 표시 -->
                      <div class="flex items-center justify-end flex-1">
                      <p class="ml-4 text-lg"> 1/3</p>
                      </div>
                    </div>
          
          
                    
          
                      <div class="max-w-2xl mx-auto bg-stone-200 rounded-xl text-gray-900 p-4 flex items-center">
                        <!-- 왼쪽에 사진 -->
                        <div class="mr-4">
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtQUYcHnhUK5aRxE6Yt8Rb_13am5qO8B9bXQ&usqp=CAU" alt="사진" class="w-20 h-20 rounded-full">
                        </div>
                        
                        <!-- 중앙에 텍스트 -->
                        <div class="flex items-center">
                            <p class="text-lg"> 사이트 : </p>
                            <p class="ml-4 text-lg">품명 : </p>
                            <p class="ml-4 text-lg">가격 : </p>
                            
                          </div>      
                        <!-- 오른쪽에 X 표시 -->
                        <div class="flex items-center justify-end flex-1">
                        <p class="ml-4 text-lg"> 1/3</p>
                        </div>
                      </div>
            
                      <div class="max-w-2xl mx-auto bg-stone-200 rounded-xl text-gray-900 p-4 flex items-center">
                        <!-- 왼쪽에 사진 -->
                        <div class="mr-4">
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtQUYcHnhUK5aRxE6Yt8Rb_13am5qO8B9bXQ&usqp=CAU" alt="사진" class="w-20 h-20 rounded-full">
                        </div>
                        
                        <!-- 중앙에 텍스트 -->
                        <div class="flex items-center">
                            <p class="text-lg"> 사이트 : </p>
                            <p class="ml-4 text-lg">품명 : </p>
                            <p class="ml-4 text-lg">가격 : </p>
                            
                          </div>      
                        <!-- 오른쪽에 X 표시 -->
                        <div class="flex items-center justify-end flex-1">
                        <p class="ml-4 text-lg"> 1/3</p>
                        </div>
                      </div>
            
            
            
                      
            
                        <div class="max-w-2xl mx-auto bg-stone-200 rounded-xl text-gray-900 p-4 flex items-center">
                          <!-- 왼쪽에 사진 -->
                          <div class="mr-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtQUYcHnhUK5aRxE6Yt8Rb_13am5qO8B9bXQ&usqp=CAU" alt="사진" class="w-20 h-20 rounded-full">
                          </div>
                          
                          <!-- 중앙에 텍스트 -->
                          <div class="flex items-center">
                              <p class="text-lg"> 사이트 : </p>
                              <p class="ml-4 text-lg">품명 : </p>
                              <p class="ml-4 text-lg">가격 : </p>
                              
                            </div>      
                          <!-- 오른쪽에 X 표시 -->
                          <div class="flex items-center justify-end flex-1">
                          <p class="ml-4 text-lg"> 1/3</p>
                          </div>
                        </div>
              
              
                        
              
                          <div class="max-w-2xl mx-auto bg-stone-200 rounded-xl text-gray-900 p-4 flex items-center">
                            <!-- 왼쪽에 사진 -->
                            <div class="mr-4">
                              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtQUYcHnhUK5aRxE6Yt8Rb_13am5qO8B9bXQ&usqp=CAU" alt="사진" class="w-20 h-20 rounded-full">
                            </div>
                            
                            <!-- 중앙에 텍스트 -->
                            <div class="flex items-center">
                                <p class="text-lg"> 사이트 : </p>
                                <p class="ml-4 text-lg">품명 : </p>
                                <p class="ml-4 text-lg">가격 : </p>
                                
                              </div>      
                            <!-- 오른쪽에 X 표시 -->
                            <div class="flex items-center justify-end flex-1">
                            <p class="ml-4 text-lg"> 1/3</p>
                            </div>
                          </div>
                
                          <div class="max-w-2xl mx-auto bg-stone-200 rounded-xl text-gray-900 p-4 flex items-center">
                            <!-- 왼쪽에 사진 -->
                            <div class="mr-4">
                              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtQUYcHnhUK5aRxE6Yt8Rb_13am5qO8B9bXQ&usqp=CAU" alt="사진" class="w-20 h-20 rounded-full">
                            </div>
                            
                            <!-- 중앙에 텍스트 -->
                            <div class="flex items-center">
                                <p class="text-lg"> 사이트 : </p>
                                <p class="ml-4 text-lg">품명 : </p>
                                <p class="ml-4 text-lg">가격 : </p>
                                
                              </div>      
                            <!-- 오른쪽에 X 표시 -->
                            <div class="flex items-center justify-end flex-1">
                            <p class="ml-4 text-lg"> 1/3</p>
                            </div>
                          </div>
                
                
                
                          
                
                            <div class="max-w-2xl mx-auto bg-stone-200 rounded-xl text-gray-900 p-4 flex items-center">
                              <!-- 왼쪽에 사진 -->
                              <div class="mr-4">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtQUYcHnhUK5aRxE6Yt8Rb_13am5qO8B9bXQ&usqp=CAU" alt="사진" class="w-20 h-20 rounded-full">
                              </div>
                              
                              <!-- 중앙에 텍스트 -->
                              <div class="flex items-center">
                                  <p class="text-lg"> 사이트 : </p>
                                  <p class="ml-4 text-lg">품명 : </p>
                                  <p class="ml-4 text-lg">가격 : </p>
                                  
                                </div>      
                              <!-- 오른쪽에 X 표시 -->
                              <div class="flex items-center justify-end flex-1">
                              <p class="ml-4 text-lg"> 1/3</p>
                              </div>
                            </div>
                  
                  
                            
                  
                              <div class="max-w-2xl mx-auto bg-stone-200 rounded-xl text-gray-900 p-4 flex items-center">
                                <!-- 왼쪽에 사진 -->
                                <div class="mr-4">
                                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtQUYcHnhUK5aRxE6Yt8Rb_13am5qO8B9bXQ&usqp=CAU" alt="사진" class="w-20 h-20 rounded-full">
                                </div>
                                
                                <!-- 중앙에 텍스트 -->
                                <div class="flex items-center">
                                    <p class="text-lg"> 사이트 : </p>
                                    <p class="ml-4 text-lg">품명 : </p>
                                    <p class="ml-4 text-lg">가격 : </p>
                                    
                                  </div>      
                                <!-- 오른쪽에 X 표시 -->
                                <div class="flex items-center justify-end flex-1">
                                <p class="ml-4 text-lg"> 1/3</p>
                                </div>
                              </div>
                    
                              <div class="max-w-2xl mx-auto bg-stone-200 rounded-xl text-gray-900 p-4 flex items-center">
                                <!-- 왼쪽에 사진 -->
                                <div class="mr-4">
                                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtQUYcHnhUK5aRxE6Yt8Rb_13am5qO8B9bXQ&usqp=CAU" alt="사진" class="w-20 h-20 rounded-full">
                                </div>
                                
                                <!-- 중앙에 텍스트 -->
                                <div class="flex items-center">
                                    <p class="text-lg"> 사이트 : </p>
                                    <p class="ml-4 text-lg">품명 : </p>
                                    <p class="ml-4 text-lg">가격 : </p>
                                    
                                  </div>      
                                <!-- 오른쪽에 X 표시 -->
                                <div class="flex items-center justify-end flex-1">
                                <p class="ml-4 text-lg"> 1/3</p>
                                </div>
                              </div>
                    
                    
                    
                              
                    
                                <div class="max-w-2xl mx-auto bg-stone-200 rounded-xl text-gray-900 p-4 flex items-center">
                                  <!-- 왼쪽에 사진 -->
                                  <div class="mr-4">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtQUYcHnhUK5aRxE6Yt8Rb_13am5qO8B9bXQ&usqp=CAU" alt="사진" class="w-20 h-20 rounded-full">
                                  </div>
                                  
                                  <!-- 중앙에 텍스트 -->
                                  <div class="flex items-center">
                                      <p class="text-lg"> 사이트 : </p>
                                      <p class="ml-4 text-lg">품명 : </p>
                                      <p class="ml-4 text-lg">가격 : </p>
                                      
                                    </div>      
                                  <!-- 오른쪽에 X 표시 -->
                                  <div class="flex items-center justify-end flex-1">
                                  <p class="ml-4 text-lg"> 1/3</p>
                                  </div>
                                </div>
                      
                      
                                
                      
                                  <div class="max-w-2xl mx-auto bg-stone-200 rounded-xl text-gray-900 p-4 flex items-center">
                                    <!-- 왼쪽에 사진 -->
                                    <div class="mr-4">
                                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtQUYcHnhUK5aRxE6Yt8Rb_13am5qO8B9bXQ&usqp=CAU" alt="사진" class="w-20 h-20 rounded-full">
                                    </div>
                                    
                                    <!-- 중앙에 텍스트 -->
                                    <div class="flex items-center">
                                        <p class="text-lg"> 사이트 : </p>
                                        <p class="ml-4 text-lg">품명 : </p>
                                        <p class="ml-4 text-lg">가격 : </p>
                                        
                                      </div>      
                                    <!-- 오른쪽에 X 표시 -->
                                    <div class="flex items-center justify-end flex-1">
                                    <p class="ml-4 text-lg"> 1/3</p>
                                    </div>
                                  </div>
                        
                                                                
              
    
        
    

    
    </body>
    